# Data folder with resources
/data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
sdist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
.idea/

images_for_inspection_bak/
images_for_inspection_vi3d/
images_for_inspection_vi3d_2/
images_for_inspection/

pytorch_models/
